BOT_TOKEN=8228439326:AAGMhqRtCq5XENrPls0g_tAiZ9MwPsAMKrA

SUPABASE_URL=https://mtgatdmrpfysqphdgaue.supabase.co
SUPABASE_SERVICE_KEY=REPLACE_WITH_SERVICE_ROLE_KEY

# Channel IDs (numeric, con guion)
MARKET_PRO_CHANNEL=-1003770026524
MARKET_ELITE_CHANNEL=-1003646834128
BET_PRO_CHANNEL=-1003624640751
BET_ELITE_CHANNEL=-1003827311918
BUNDLE_PRO_CHANNEL=-1003806350373
BUNDLE_ELITE_CHANNEL=-1003728895446
